In [1]:
print("HELLO");                      #15/04/2024

HELLO

In [2]:
a=10
b=2.3
c="b"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [3]:
a=10
print(a)
print(type(a))

10
<class 'int'>

In [4]:
a=10.2
print(a)
print(type(a))

10.2
<class 'float'>

In [5]:
a="a"
print(a)
print(type(a))

a
<class 'str'>

In [6]:
a="abcd"
b="efgh"
c= a+  b
print(c)

abcdefgh

In [7]:
a=123
b=321.2222
d=a
c=a+b/d
print(c)
print(type(a))
print(type(b))
print(type(c))

125.61156260162602
<class 'int'>
<class 'float'>
<class 'float'>

In [38]:
a=input(a)
c=input(c)
b=input(b)
d=a,c,b,
print(d)

10 3
1020 2
20 1

('3', '2', '1')

In [2]:
name  = input("enter the name:")
age = int(input("enter the age:" ))
if(age>=18):
    print(name)
    print("eligible")
else:
    print("not eligible")

enter the name: s
enter the age: 19

s
eligible

In [2]:
name  = input("enter the name:")
age = int(input("enter the age:" ))

if(age>=18):
    print(name)
    print("eligible")
else:
    print("not eligible")

enter the name: sfvgh
enter the age: 17

not eligible

In [6]:
#grater between two number 
n = int(input("enter the n"))
m = int(input("enter the m"))
if(m>n):
    print(" greater is",m)
    
else:
    print("greater is",n)

enter the n 33
enter the m 44

 greater is 44

In [ ]:
#greater betweeen 3 number
a=int(input("a"))
b=int(input ("b"))
c=int(input("c"))
if(a>b):
    if(a>c):
        print("a is greater")
    else:
        print("c is greater")
if(b>a):
    if (b>c):
        print("b is greater")
    else:
        print("c is greater")

In [ ]:
#greater betweeen 3 number
a=(input("a"))
b=(input ("b"))
c=(input("c"))
if(a>b):
    if(a>c):
        print("a is greater")
if(b>a):
    if (b>c):
        print("b is greater")
    else:
        print("c is greater")

In [3]:
marks = int(input("enter the marks"))

if marks >= 90 and marks < 100:
    print("grade = A+")
else:
    if marks >= 80 and marks < 90:
        print("grade = A")
    else:
        if marks >= 70 and marks < 80:
            print("grade = B+")
        else:
            if marks >= 60 and marks < 70:
                print("grade = B")
            else:
                if marks >= 50 and marks < 60:
                    print("grade = C")
                else:
                    if marks >= 40 and marks < 50:
                        print("grade = D")
                    else:
                        if marks >= 30 and marks < 40:
                            print("grade = E")
                        else:
                            if marks >= 0 and marks < 30:
                                print("grade = F")
                            else:
                                print("invalid marks")

enter the marks 20

grade = F

In [13]:
#human lifecycle:

cycle=int(input("enter the age of person"))
if cycle>102:
    print("chanches of death")
else:
    print("birth of human \n" )
    birth=input("enter the date of birth ")
    print(birth)

enter the age of person 33

birth of human

enter the date of birth  09/02/1998

09/02/1998

In [26]:
a=int(input("enter the no's of ittreation"))
for i in range(0,a):
    for j in range(0,i):
        print("*",end='')
    print('')

enter the no's of ittreation 20

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************

In [7]:
#fibinosis
a=0
b=2
n= int (input ("enter the number of element"))
print(a,b,end=" ") 
for x in range (0,n-2):
    c=a+b
    a=b
    b=c
    print(c)

enter the number of element 10

0 2 2
4
6
10
16
26
42
68

In [29]:
#function 
def  abcd(a,b=7):      #def= defination #def  abcd here def is a function defination  and abcd is a function 
    c=a+b
    print(c)
    return 
A= int (input())
B= int (input ())
abcd(A,B)
abcd(A)

 10
 10

20
17